* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.note {
    height: 400px;
    width: 400px;
    margin: 20px;
    padding: 10px;
}

.note:nth-child(1) {
    background-color: antiquewhite;
}

.note:nth-child(2) {
    background-color: powderblue;
}

ul {
    list-style-type: none;
}