* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.note {
    height: 400px;
    width: 400px;
    margin: 10px;
    padding: 10px;
}

.note:nth-child(1) {
    background-color: antiquewhite;
}

.note:nth-child(2) {
    background-color: powderblue;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

li span {
    margin-left: 10px;
    flex: 1;
}

li button:active {
    background-color: indianred;
    color: white;
}